# Exclude input folder and default output file from runs.
input/
output.csv

# Exclude centers and reasons text files
centers.txt
reasons.txt

# Prevent Mac's hidden Finder file from getting in the repo.
**/.DS_Store
